[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
falsk = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-session = "*"
pymysql = "*"
requests = "*"
beautifulsoup4 = "*"
flask-cache = "*"
flask-cookies = "*"
openpyxl = "*"
cymysql = "*"
contextlib = "*"
wtforms = "*"
login-manager = "*"
flask-login = "*"
email-validator = "*"
flask-httpauth = "*"
python-dateutil = "*"
dateutil = "*"

[requires]
python_version = "3.8"
