[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.4"
flask-sqlalchemy = "*"
flask-session = "*"
pymysql = "*"
requests = "*"
beautifulsoup4 = "*"
flask-cache = "*"
openpyxl = "*"
flask-login = "*"
email-validator = "*"
flask-httpauth = "*"
markupsafe = "==2.0.1"
werkzeug = "*"
wtforms = "==2.3.3"

[requires]
python_version = "3.8"
