<footer id="footer">
	<div class="center clx">
		<ul class="linksList mb5 clx">
			<span><a href="http://demo.ui90.com/links" target="_blank">友情链接：</a></span>
			<li><a href="http://pe.ui90.com" target="_blank">小马PE</a></li>
			<li><a href="http://www.qintag.com" target="_blank">泽坡的后院</a></li>
			<li><a href="http://www.ui90.com" target="_blank">wordpress主题</a></li>
		</ul>
		<p>
			© 2014 <a target="_blank" href="http://demo.ui90.com/">胖子马演示网站</a> 版权所有 |
			<a target="_blank" href="http://wordpress.org/">WordPress</a> 强力驱动 |
			<span id="J_verify">Theme by <a target="_blank" href="http://www.ui90.com/">ui90</a></span> |
			<a target="_blank" href="http://demo.ui90.com/tags">标签</a> |
			<a target="_blank" href="http://demo.ui90.com/partners">友情链接</a> |
			<a target="_blank" href="http://demo.ui90.com/guestbook">留言板</a> |
			<a target="_blank" href="http://demo.ui90.com/about">关于我们</a> |
			<a target="_blank" rel="nofollow" href="http://www.miibeian.gov.cn/"> 陕ICP备12345678号</a> |
			<script src="http://s15.cnzz.com/stat.php?id=4166389&amp;web_id=4166389" language="JavaScript"></script>
			<script src="http://c.cnzz.com/core.php?web_id=4166389&amp;t=z" charset="utf-8" type="text/javascript"></script>
			<a href="http://www.cnzz.com/stat/website.php?web_id=4166389" target="_blank" title="站长统计">站长统计</a>
		</p>
	</div>
</footer>
<div id="backTop"><a class="fa fa-chevron-up" href="javascript:void(0);"><span class="text">回到顶部</span></a></div>
