<head>
<link rel="stylesheet" href="../static/css/style.css" />
<link rel="stylesheet" href="../static/css/ui90.css" />
<link rel="stylesheet" href="../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/css/html5.css" />
<link rel="shortcut icon" href="../static/favicon.ico" />
<script src="../static/js/jquery_latest.js"></script>
<!--[if lt IE 9]>
<script src="../static/js/jquery-1.8.3.min.js"></script>
<script src="../static/js/css3-mediaqueries.js"></script>
<![endif]-->
<script src="../static/js/jquery.ui90.js"></script>

