<!DOCTYPE HTML>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>登录 - Awesome Python Webapp</title>
{% include '__head__.html' %}
</head>
<body>
	<div id="container">
		<div class="center">


			<div class="row">
				{% with messages = get_flashed_messages() %}
					{% for message in messages %}
						{% if message %}
							<div class="alert alert-warning" role="alert">{{ message }}</div>
						{% endif %}
					{% endfor %}
				{% endwith %}
				{% if form and form.errors %}
					{% for key, error in form.errors.items() %}
						<div class="alert alert-warning" role="alert">{{ error }}</div>
					{% endfor %}
				{% endif %}
			</div>


			<div id="loginBox" class="loginRegist">
				<h1>欢迎登录</h1>
				<form action="{{ url_for('web.login') }}" method="post">
					<div class="name">
						<label>账号：</label>
						<input type="text" name='email' placeholder="邮箱"/>
					</div>
					<div class="enterPassword">
						<label>输入口令：</label>
						<input type="text" name='passwd' placeholder="输入口令"/>
					</div>
					<button type="submit">登 录</button>
				</form>
			</div>
		</div>
	</div>
<style type="text/css">
body { background-image: url('../static/images/mountain2.jpg'); background-repeat: no-repeat; background-position: top center; background-attachment: fixed; }
</style>
</body>
</html>
