/* commentlist with thread comment */
#commentpost { margin:10px 0; padding:5px 0; }
#commentpost h4, #respond h4, h4#pings { font-size:15px; line-height: 36px; padding-left:34px; margin-bottom:5px; background: url(../images/comment/comment.png) no-repeat 0 -196px; border-bottom:1px dotted #ccc; text-transform:capitalize; }
.nocomments { font-size:14px; font-weight:700; font-style:italic; margin:10px 0; }
#commentpost .pnav { width:100%; clear:both; font-size:13px; font-weight:700; height:auto; display:block; }
#commentpost .pnav .pnav_left { float:left; width:49%; text-align:left; line-height:26px; }
#commentpost .pnav .pnav_right { float:right; width:49%; text-align:right; line-height:26px; }
#commentpost .youtube_paginate { font-size:13px; text-align:right; font-weight:700; padding:4px 6px; }
#commentpost .youtube_paginate span.current { color:#666666; background:none; text-decoration:none; padding:1px 3px; }
#commentpost .youtube_paginate span.disabled { display:none; }
#respond { margin:0; padding:10px 0; border:1px solid #ccc; position:relative; zoom:1; background:#fff url(../images/comment/stripe.gif) left top; }
#respond .cancel-comment-reply { font-size:12px; background:url(../images/comment/comment.png) no-repeat 0 -270px; padding-left:16px; line-height:24px; }
#respond .author { padding-left:24px; line-height:24px; background:url(../images/comment/trumpet.gif) no-repeat left center; }
#toggle-comment-author-info p { line-height:24px; padding:0; margin:0; }
#respond .comment_form { padding-top:1px; padding-left:10px; font-size:13px; }
#respond .comment_form label { font-weight:400; }
#respond .comment_form p { text-transform:capitalize; margin:5px 0; padding:0; color:#666; }
#respond .comment_form .name, #respond .comment_form .mail, #respond .comment_form .home { width:28%; border:1px solid #ccc; padding: 4px 0 4px 24px; height: 24px; margin:2px 0; font-size:14px; }
#respond .comment_form .name { background:#fff url(../images/comment/comment.png) no-repeat 0 -302px; }
#respond .comment_form .mail { background:#fff url(../images/comment/comment.png) no-repeat 0 -337px; }
#respond .comment_form .home { background:#fff url(../images/comment/comment.png) no-repeat 0 -368px; }
#respond .comment_form .comment_textarea { height:162px; width:60%; font-size:14px; border:1px solid #ccc; background:#fff; padding:5px; margin:3px 5px 5px 0; resize:none }
/* 寂寞的广告  */
#respond .comment_form .ad_comment_180_150 { position:absolute; bottom:87px; left:63.2%; overflow: hidden; width:180px; height:150px; padding:11px 5px; }
#respond .comment_form .picture, #respond .comment_form .notify_checked, #respond .comment_form .notify_p { color:#004797; font-weight:700; height:38px; line-height:38px; float: left; margin:0; margin-right:10px; }
#respond .comment_form .btn { float: left; width:172px; height:38px; border:none; margin-right:5px; background:#009b77; font: 14px/38px "微软雅黑"; color:#fff; cursor:pointer; }
#respond .comment_form .btn:hover { background:#28c2a0; }
#respond .comment_form .rebtn { float: left; width:93px; height:38px; border:none; margin-right:5px; background:#009b77; font: 14px/38px "微软雅黑"; color:#fff; cursor:pointer; }
#respond .comment_form .rebtn:hover { background:#28c2a0; }
#respond .comment_form .notify_p { color:#666; margin-left:-5px; }
#respond .comment_form .respond_visitor_gravatar { position:absolute; z-index:99; width:66px; height:66px; right:10px; top:10px; overflow:hide; }
#respond .comment_form .respond_visitor_gravatar a { display:block; width:66px; height:66px; }
#respond .comment_form .respond_visitor_gravatar img { border:1px solid #ccc; width:60px; height:60px; background:#fff; padding:2px; }
#respond p { line-height:18px; }
/** 评论贴图 **/
.comment-body img { }
.comment_idea { background:url(../images/comment/icon_idea.gif) no-repeat 10px 0; padding-left:26px; font-size:13px; color:#666; }
.comment_idea span { font-weight:700; color:#003900; }
#respond .comment_form .ad_comment img { margin:0; padding:0; }
/*commentlist 訪客評論區塊****http://www.wehan.net/wp_list_comments.html,,,http://cdharrison.com/2008/12/03/threaded-comments/**/
ol.commentlist { list-style:none; text-indent:0; margin:0; padding:0; }
ol.commentlist li { position:relative; border:1px solid #ccc; }
ol.commentlist li.alt { }
ol.commentlist li.bypostauthor { }
ol.commentlist li.byuser { }
ol.commentlist li.comment-author-admin { }
ol.commentlist li.comment { margin:20px 0; padding:10px; }
ol.commentlist li div.comment-author { font-size:12px; border-bottom:1px dotted #dedede; }
ol.commentlist li div.comment-author span.time { color:#888; }
ol.commentlist li div.vcard { }
ol.commentlist li div.vcard cite.fn { font-style:normal; color:#0084c7; margin-right:5px; }
ol.commentlist li div.vcard cite.fn a.url { color:#666666; }
ol.commentlist li div.vcard img.avatar { border:1px solid #ccc; float:left; padding:2px; margin-right:10px; background:#fff; }
ol.commentlist li div.vcard img.avatar-32 { }
ol.commentlist li div.vcard img.photo { }
ol.commentlist li div.vcard span.says { }
ol.commentlist li div.commentmetadata { }
ol.commentlist li div.comment-meta { font-size:12px; border-bottom:1px dotted #ccc; margin:0 10px 0 50px; }
ol.commentlist li div.comment-meta a { }
ol.commentlist li a { }
ol.commentlist li a:hover { }
ol.commentlist li p { line-height:22px; margin:0; }
ol.commentlist li ul { }
#comment_admin_img { float:right; margin-top:-30px; }
ol.commentlist li div.comment-body { padding-top:10px; color:#666; }
ol.commentlist li div.reply { font-size:12px; line-height:22px; clear:both; }
ol.commentlist li div.reply a { }
ol.commentlist li div.reply a:hover { }
ol.commentlist li ul.children { list-style:none; text-indent:0; margin:0; }
ol.commentlist li ul.children li { }
ol.commentlist li ul.children li.alt { }
ol.commentlist li ul.children li.bypostauthor { }
ol.commentlist li ul.children li.byuser { }
ol.commentlist li ul.children li.comment { }
ol.commentlist li ul.children li.comment-author-admin { }
ol.commentlist li ul.children li.depth-2 { }
ol.commentlist li ul.children li.depth-3 { }
ol.commentlist li ul.children li.depth-4 { }
ol.commentlist li ul.children li.depth-5 { }
ol.commentlist li ul.children li.odd { }
ol.commentlist li.even { background:#fff; }
ol.commentlist li.odd { background:#fbfbfb; }
ol.commentlist li.parent { border-left:2px solid #111; }
ol.commentlist li.pingback { border-bottom:1px dotted #666; }
ol.commentlist li.thread-alt { }
ol.commentlist li.thread-even { }
ol.commentlist li.thread-odd { }
ol.commentlist li div.floor { position:absolute; top:10px; right:10px; _right:40px; font-size:13px; overflow:auto; color:#666666; }
#pingbox { padding:5px; background:#fff; border:1px solid #ccc; margin-bottom:10px; }
h4#pings { background:url(../images/comment/comment.png) no-repeat 0 -162px; }
ol.pinglist { width:100%; list-style:none; margin:0; padding:0; }
ol.pinglist li { line-height:26px; width:100%; display:block; font-size:14px; height:auto; margin:0; padding:0; list-style-type:decimal; }
.wp-smiley { width:16px; height:16px; }